<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/orderListView.css">
    <link rel="stylesheet" href="    https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
    ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div  margin-left: 30px;" >
        <a href="/admin_panel/orderList"><button type="button" class="btn btn-warning mt-4 text-white" style="margin-left: 100px;"><i class="icon-cart-add mr-2"></i> Back</button></a>
            <h2 style="text-align: center; margin-bottom: 40px; color: #777;">Product-Details</h2>
    </div>
    <div class="container d-flex justify-content-center mt-50 mb-50" ">
      
        <% for(let i=0;i<getOrderedItems.length;i++){%>
        <div class="row " style="margin-top: 10px;">
           <div class="col-md-10">
           

            
                <div class="card card-body">
                            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                <div class="mr-2 mb-3 mb-lg-0">
                                    
                                        <img src="/uploads/<%=getOrderedItems[i].orderedItem.imageUrl%>" width="80" height="100" alt="">
                                   
                                </div>

                                <div class="media-body">
                                    <h6 class="media-title font-weight-semibold">
                                        <a href="#" data-abc="true"><%=getOrderedItems[i].orderedItem.title%></a>
                                    </h6>

                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Category</a></li>
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true"><%=getOrderedItems[i].orderedItem.category%></a></li>
                                        <div><li class="list-inline-item"><a href="#" class="text-muted" data-abc="true"><span><strong>Quantity:</strong></span><%=getOrderedItems[i].quantity%></a></li></div>
                                    </ul>

                                    <p class="mb-3"><%=getOrderedItems[i].orderedItem.description%></p>

                                
                                </div>

                                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                    <h3 class="mb-0 font-weight-semibold">&#x20B9;<%=getOrderedItems[i].orderedItem.price%></h3>



                                    

                                   
                                </div>
                            </div>
                        </div>
                  


                    





                    
                        


                             
        </div>                     
        <%}%>
        </div>
    </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>