<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/orderListView.css">
    <link rel="stylesheet" href="    https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
    ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

    <%-include('../includes/admin/navigation.ejs')%>
    <section >
        <div class="container py-5">
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
              <div class="card shadow-0 border rounded-3">
                  <% for(let i=0;i<getOrderedItems.length;i++){%>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="/uploads/<%=getOrderedItems[i].orderedItem.imageUrl%>">
                          
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5><%=getOrderedItems[i].orderedItem.title%></h5>
                      
                   
                      
                      <p class="text-truncate mb-4 mb-md-0">
                       <%=getOrderedItems[i].orderedItem.description%>
                      </p>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h3 class="mb-0 font-weight-semibold">&#x20B9;<%=getOrderedItems[i].orderedItem.price%></h3>
                      </div>
                      <h6 class="text-success">Free shipping</h6>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%}%>
          
        </div>
      </section>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>